streamlit

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers
transformers
torch
torchvision

huggingface-hub

pandas
numpy

beautifulsoup4
lxml
requests

pypdf

python-dotenv

tiktoken

plotly

protobuf==5.29.5
grpcio

tqdm
